@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Birthstone&family=Great+Vibes&display=swap');
// font-family: 'Amiri', serif;
// font-family: 'Birthstone', cursive;
// font-family: 'Great Vibes', cursive;

html {
    background-size: cover;
    overflow-y: scroll;
    min-height: 100vh;
    background-repeat: no-repeat;
    background: hsla(217, 100%, 50%, 1);
    background: linear-gradient(180deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
    // background: -moz-linear-gradient(90deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
    // background: -webkit-linear-gradient(90deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);

    @media screen and (max-width: 640px) {
        font-size: 1rem;
        overflow-x: hidden;
        overflow-y: scroll;        
        background-repeat: no-repeat;
    }
}
main {
    color: #1005e3;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    font-family: 'Amiri', serif;

    @media screen and (max-width: 640px) {
        font-size: 1rem;
        overflow-x: hidden;
    }
}
#names {
    display: flex;
    justify-content: center;
    font-size: 9rem;
    color: #1005e3;
    text-shadow: 2px 2px 2px #c1c1f7;
    font-family: 'Birthstone', cursive;
    margin-top: 2.5rem;
    margin-bottom: -2%;

    @media only screen and (max-width: 640px) {
        font-size: 3.6rem;
        margin-top: 1.5rem;
        display: flex;
        justify-content: center;
        overflow-x: hidden;
    }
}

h2 {
    display: flex;
    justify-content: center;
    font-size: 3rem;

    @media screen and (max-width: 640px) {
        font-size: 1.2rem;
        overflow-x: hidden;
    }
}
#date {
    display: flex;
    justify-content: center;
    font-size: 4rem;
    margin: 9% auto 0%;
    width: 500px;
    font-family: 'Great Vibes', cursive;

    @media screen and (max-width: 640px) {
        font-size: 2rem;
        overflow-x: hidden;
    }
}
#pages{
    font-size: 1rem; 
    display: flex;
    justify-content: center;
    font-size: 6rem;
    font-family: 'Birthstone', cursive;
    margin-top: 3rem;
    margin-bottom: 0%;
    text-shadow: none;
    color: #1005e3;

    @media screen and (max-width: 640px) {
        font-size: 2.8rem;
        margin-top: 1.5rem;
        overflow-x: hidden;
    }
}
#page{
    display: flex;
    justify-content: center;
    font-size: 3rem;
    margin-top: 7rem;
    font-family: 'Birthstone', cursive;
}
#registry{
    font-size: 3rem;

    @media screen and (max-width: 640px) {
        font-size: 1.5rem;
        overflow-x: hidden;
    }
}
a {
    color: #3c3b3b;
    font-size: 1.3rem;
    
    @media screen and (max-width: 640px) {
        font-size: 1rem;
        overflow-x: hidden;
        margin: 8% auto;
    }
}
#weddingDay {
    font-size: 3.3rem;

    @media screen and (max-width: 640px) {
        font-size: 1.3rem;
        overflow-x: hidden;
    }
}
.details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 30%;
    font-family: 'Great Vibes', cursive; 

    @media screen and (max-width: 640px) {
        font-size: 1.3rem;
        overflow-x: hidden;

    }
}
.innerDetails{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Amiri', serif;
    width: 650px;
    font-size: 1.3rem;
    margin-top: -2%;
    color: #3c3b3b;
    text-shadow: none;
    margin-left: 100px;

    p {
        margin: 0;
    }

    @media screen and (max-width: 640px) {
        width: 39%;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        font-size: 0.8rem;
        overflow-x: hidden;
        margin: 3% auto 2%;
    }
}
h4{ 
    font-size: 1.8rem;
    margin: 0;
    color: #3c3b3b;

    @media screen and (max-width: 640px) {
        font-size: 1.05rem;
        margin: 3% 0 3%;
    }
}

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 20px;
    a {
        color: #c1c1f7;
    }
    @media screen and (max-width: 640px) {
        width: 80%;
        justify-content: space-between;
        font-size: 0.5rem;
        margin: auto;
        overflow-x: hidden;
        padding: 0;
    }
}

#photos {
    display: flex;
    align-items: center;

    #mich1 {
        height:  300px; 
        margin: 20px;
    }
    #mich2 {
        height: 500px; 
        margin: 20px;
    }

    @media screen and (max-width: 640px) {
        flex-wrap: wrap;
        margin: 2%;

        #mich1 {
            width: 90%;
            height: 90%;
        }
        #mich2 {
            width: 90%;
            height: 90%;
        }
    }
}

#hotels {
    display: flex;
    margin: 2%;

    #omni {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        font-size: 1.2rem;
        margin: 3%;
        h3 {
            display: flex;
            color: rgb(40, 21, 146);
            font-size: 1.6rem;
            justify-content: center;

            @media screen and (max-width: 640px) {
                font-size: 1.2rem;
                margin: auto;
            }
        }
        @media screen and (max-width: 640px) {
            font-size: 0.8rem;
            width: 100%;
            justify-content: center;
            align-items: center;
            margin: auto;        
        }
    }

    #joinery {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        font-size: 1.2rem;
        margin: 3%;
        h3 {
            display: flex;
            color: rgb(40, 21, 146);
            font-size: 1.6rem;
            justify-content: center;

            @media screen and (max-width: 640px) {
                font-size: 1.2rem;
                margin: auto;
            }
        }
        @media screen and (max-width: 640px) {
            font-size: 0.8rem;
            width: 100%;
            justify-content: center;
            align-items: center;
            margin: auto;        
            margin-top: 7%;
        }
    }

    @media screen and (max-width: 640px) {
        flex-direction: column;
        color: #3c3b3b;
    }
}