@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Birthstone&family=Great+Vibes&display=swap');
// font-family: 'Amiri', serif;
// font-family: 'Birthstone', cursive;
// font-family: 'Great Vibes', cursive;

html {
    background-size: cover;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background: hsla(217, 100%, 50%, 1);
    background: linear-gradient(180deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
    // background: -moz-linear-gradient(90deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
    // background: -webkit-linear-gradient(90deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
}
main {
    color: #1005e3;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    font-family: 'Amiri', serif;
}
#title {
    display: flex;
    justify-content: center;
    font-size: 9rem;
    color: #1005e3;
    font-family: 'Birthstone', cursive;
    margin-top: 2.5rem;
    margin-bottom: -2%;
}

h2 {
    display: flex;
    justify-content: center;
    font-size: 3rem;
}
#date {
    display: flex;
    justify-content: center;
    font-size: 4rem;
    margin: 9% auto 0%;
    width: 500px;
    font-family: 'Great Vibes', cursive;

}
#pages{
    font-size: 1rem; 
    display: flex;
    justify-content: center;
    font-size: 6rem;
    font-family: 'Birthstone', cursive;
    margin-top: 3rem;
    margin-bottom: 0%;
    text-shadow: none;
    color: #1005e3;
}
#page{
    display: flex;
    justify-content: center;
    font-size: 3rem;
    margin-top: 7rem;
    font-family: 'Birthstone', cursive;
}
a {
    color: #3c3b3b;
    font-size: 1.3rem;
}
#weddingDay {
    font-size: 3.3rem;
}
.details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 30%;
    font-family: 'Great Vibes', cursive; 
}
.innerDetails{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Amiri', serif;
    width: 650px;
    font-size: 1.3rem;
    margin-top: -2%;
    color: #3c3b3b;
    text-shadow: none;
    margin-left: 100px;
    p {
        margin: 0;
    }
}
h4{ 
    font-size: 1.8rem;
    margin: 0;
    color: #3c3b3b;
}

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 20px;
    a {
        color: #c1c1f7;
    }
}

#photos {
    display: flex;
    align-items: center;
}

#hotels {
    display: flex;
    margin: 2%;

    #omni {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        font-size: 1.2rem;
        margin: 3%;
        h3 {
            display: flex;
            color: rgb(40, 21, 146);
            font-size: 1.6rem;
            justify-content: center;
        }
    }

    #joinery {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        font-size: 1.2rem;
        margin: 3%;
        h3 {
            display: flex;
            color: rgb(40, 21, 146);
            font-size: 1.6rem;
            justify-content: center;
        }
    }
}