/* @import url('https://fonts.googleapis.com/css2?family=Birthstone&family=Corinthia:wght@400;700&family=Gentium+Book+Basic:ital,wght@0,400;0,700;1,400;1,700&family=Great+Vibes&family=Italianno&family=Yatra+One&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:ital,wght@0,400;0,700;1,400;1,700&family=Great+Vibes&family=Yatra+One&display=swap'); */
/* font-family: 'Birthstone', cursive;
font-family: 'Corinthia', cursive;
font-family: 'Gentium Book Basic', serif;
font-family: 'Great Vibes', cursive;
font-family: 'Italianno', cursive;
font-family: 'Yatra One', cursive; */



/* html {
    background: rgb(37,5,80);
    background: linear-gradient(0deg, rgba(37,5,80,1) 0%, rgb(8, 29, 137) 100%);
    color: rgb(219, 219, 219);
    font-size: 1rem;
    display: flex;
    justify-content: center;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 6rem;
    font-family: 'Birthstone', cursive;
    margin-top: 2rem;
}

h4 {
    display: flex;
    justify-content: center;
    font-size: 2.2rem;
    margin: 5% auto;
    font-family: 'Gentium Book Basic', serif;
}

h3 {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    margin: -2% auto;
    font-family: 'Gentium Book Basic', serif;
}

.links {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-evenly;
    width: 800px;
    /* border: solid 1px red; */
/* } */

/* a {
    color: rgb(219, 219, 219);
    font-size: 1.3rem;
} */

head {
    background-color: #9e019e;
}