@import url('https://fonts.googleapis.com/css2?family=Birthstone&family=Corinthia:wght@400;700&family=Gentium+Book+Basic:ital,wght@0,400;0,700;1,400;1,700&family=Great+Vibes&family=Italianno&family=Yatra+One&display=swap');
/* font-family: 'Birthstone', cursive;
font-family: 'Corinthia', cursive;
font-family: 'Gentium Book Basic', serif;
font-family: 'Great Vibes', cursive;
font-family: 'Italianno', cursive;
font-family: 'Yatra One', cursive; */

html {
    // background-image: url('/client/Photos/DSC6274.jpg');
    // background-image: url('/client/Photos/DSC5205.jpg');
    // background-image: url('/client/Photos/DSC6406.jpg');
    // background-image: url('/client/Photos/EmeraldBayIsland.jpg');
    // background-image: url('/client/Photos/TahoeOrangeMidLakesunset.jpg');
    // background-image: url('/client/Photos/TahoeMountains.jpg');
    background-image: url('/client/Photos/TahoeNightscape.jpg');
    // background-image: url('/client/Photos/wallpaper2.jpeg');

    background-size: cover;
    min-height: 100vh;
    // background: rgb(17,167,236);
    // background: linear-gradient(143deg, rgba(17,167,236,1) 1%, rgba(6,57,126,1) 26%, rgba(6,20,101,1) 41%, rgba(2,20,91,1) 49%, rgba(7,35,116,1) 60%, rgba(9,64,128,1) 74%, rgba(5,198,237,1) 97%);
    background-repeat: no-repeat;
    background-size: cover;
}
main {
    color: rgb(219, 219, 219);
    font-size: 1rem;
    // border: 3px solid rgb(19, 90,  172);
    display: flex;
    justify-content: center;
    /* font-family: 'Gentium Book Basic', serif; */
}
#title {
    display: flex;
    justify-content: center;
    font-size: 8rem;
    font-family: 'Birthstone', cursive;
    margin-top: 0.2rem;
    margin-bottom: -2%;
    text-shadow: 5px 5px magenta;
}

h2 {
    display: flex;
    justify-content: center;
    font-size: 4rem;
    font-family: 'Birthstone', cursive;
    /* margin-top: 1.8rem; */
}
#date {
    display: flex;
    justify-content: center;
    font-size: 4rem;
    margin: 2% auto;
    width: 500px;
    text-shadow: 3px 3px rgb(19, 90, 172);
    font-family: 'Birthstone', cursive;
}
#pages{
    /* font-size: 1rem; */
    display: flex;
    justify-content: center;
    font-size: 6rem;
    font-family: 'Birthstone', cursive;
    margin-top: 0rem;
    margin-bottom: 0%;
    text-shadow: none;
    color: magenta;
}
#page{
    display: flex;
    justify-content: center;
    font-size: 3rem;
    font-family: 'Birthstone', cursive;
    // margin-top: 0%;
    color: mediumslateblue;
}
a {
    color: aqua;
    font-size: 1.3rem;
}
.details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 30%;
    color: rgb(250, 229, 108);
    text-shadow: 2px 2px rgb(204, 101, 42);
    /* border: solid 1px red; */
}
.innerDetails{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 550px;
    font-size: 1.15rem;
    margin-top: -6%;
    color:rgb(219, 219, 219);
    text-shadow: none;
    /* border: solid 1px purple; */
    margin-left: 55px;
}
h4{ 
    font-size: 1.3rem;
    color: magenta;
    text-shadow: none;
}

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 20px;
}

#photos {
    display: flex;
    align-items: center;
}

#hotels {
    display: flex;
    // border: 1px solid white;
    margin-top: 3%;
    margin-left: 6%;
    margin-right: 4%;
    // background-color: navy;

    #omni {
        display: flex;
        flex-direction: column;
        width: 50%;
        h3 {
            color: mediumslateblue;
            font-size: 1.6rem;
        }
    }

    #joinery {
        display: flex;
        flex-direction: column;
        width: 50%;
        h3 {
            color: mediumslateblue;
            font-size: 1.6rem;
        }
    }
}